.vscode/settings.json
logs/logs.log
*.pyc
web/instance/config.py
web/config.py
*.1
/logs
/java plugin/MCDataLink/target
/plugin2/MCDataLink/.idea
/plugin2/MCDataLink/.idea
/java plugin/MCDataLink/target
/java plugin/MCDataLink/target
