<!DOCTYPE html>
<html>
<head>
    <title>Enter pin</title>
</head>
<body>
    
<h1>You should have received a code in Minecraft.<br>Please enter this Pin:</h1>
<form method="post">
    <input name="type" type="hidden" value="login2">
    <input name="pin" required type="text">
    <input type="submit" value="Submit">
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</body>
</html>
