<!DOCTYPE html>
<html id="top" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Spieler Übersicht</title>

    <link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet"/>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/player_list.css') }}" rel="stylesheet" />

    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" type="image/vnd.microsoft.icon"/>
</head>

<body>
    {% include 'header.html' %}

    <div class="content">
        <div class="container mt-5">
            {% for result in results %}
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="text-decoration-none list-item-content" href="/spieler?player={{result[0]}}" style="justify-content: space-between;color:black;">


                        <img alt="player_head" class="list-item-image" src="https://crafatar.com/avatars/{{result[1]}}?default=MHF_Steve&overlay" />

                        <div class="list-item-text">{{result[0]}}</div>

                        <b class="status-text-{{ status[loop.index-1] | safe }} status-text-right" id="status-text-{{loop.index-1}}">{{ status[loop.index-1] | safe}}</b>


                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="text"></div>
    </div>
    <footer>
        <nav>
            <ul>
                <li><a href="/verschiedenes/impressum.html">Impressum</a></li>
                <li><a href="/verschiedenes/datenschutz.html">Datenschutz</a></li>
                <li><a href="/verschiedenes/kontakt.html">Kontakt</a></li>
                <li><a href="#">🡅</a></li>
            </ul>
        </nav>
    </footer>

    <script>
        const eventSource = new EventSource("/api/status");

        eventSource.onmessage = (event) => {
            console.log(event.data.replaceAll("'", '"'));
            const parsedArray = JSON.parse(event.data.replaceAll("'", '"'));
            console.log(parsedArray);
            // Iteration über das Array
            i = 0;
            for (const element of parsedArray) {
                console.log(i + ": " + element);
                if (element == "offline") {
                    document
                        .getElementById("status-text-" + i)
                        .classList.remove("status-text-online");
                    document
                        .getElementById("status-text-" + i)
                        .classList.add("status-text-offline");
                } else {
                    document
                        .getElementById("status-text-" + i)
                        .classList.remove("status-text-offline");
                    document
                        .getElementById("status-text-" + i)
                        .classList.add("status-text-online");
                }
                document.getElementById("status-text-" + i).innerText = element;
                i += 1;
            }
        };
    </script>
</body>

</html>