.list-group-item {
  border: none;
  border-radius: 10px;
  background-color: #f8f9fa;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-group-item:hover {
  background-color: #e9ecef;
}
.list-item-content {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
width: 100%;
grid-template-columns: 0.8fr 1.3fr 1.6fr 1fr 1fr 0.7fr ;
}
.list-item-text {
  margin: 0 15px;
  text-align: right;
  font-size: 30px;
}
.list-item-image {
  max-width: 50px;
  border-radius: 25%;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.status-text-online {
  color: green;
  border: green;
  border-style: double;
  padding: 0.5em;
  width: fit-content;
  justify-self: end;
}
.status-text-offline {
  color: rgb(255, 0, 0);  
  border: red;
  border-style: double;
  padding: 0.5em;
  width: fit-content;
  justify-self: end;
}

.selectBox {
  width: 153px;
}

.uuidText {
font-size: 18px;
}

.banBtn {
   justify-self: center;
   width: 95px;
}


@media (max-width: 991px) {
  .list-item-text {
    font-size: 20px;
  }
  .list-item-image {
    max-width: 35px;
  }
  .status-text-right {
    font-size: 15px;
  }
  .banBtn {
    justify-self: center;
    width: 50px;
    font-size: 15px;
 }
}

/* xl */
@media (max-width: 767px) {
  .list-item-text {
    font-size: 15px;
  }
  .list-item-image {
    max-width: 30px;
  }
  .status-text-right {
    font-size: 10px;
  }
  .selectBox {
  width: 100px;
  }
  .uuidText{
    font-size: 12px;
  }
}

/* lg */
@media (max-width: 570px) {
    .list-item-text {
      font-size: 4vw;
    }
    .list-item-image {
      max-width: 30px;
    }
    .status-text-right {
      font-size: 2vw;
    }
    .selectBox {
    width: 9vw;
    }
    .uuidText{
      font-size: 2vw;
  }
}

@media (max-width: 400px) {
  .uuidText{
    display: none;
}
.list-item-content {
grid-template-columns: 0.8fr 1.3fr 1.6fr 1fr 0.7fr ;
}}