.list-group-item {
  border: none;
  border-radius: 10px;
  background-color: #f8f9fa;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-group-item:hover {
  background-color: #e9ecef;
}
.list-item-content {
  display: flex;
  align-items: center;
  flex: 1;
}
.list-item-text {
  margin: 0 15px;
  text-align: right;
  font-size: 30px;
}
.list-item-image {
  max-width: 50px;
  border-radius: 25%;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.status-text-online {
  color: green;
  border: green;
  border-style: double;
  padding: 0.5em;
}
.status-text-offline {
  color: rgb(255, 0, 0);
  border: red;
  border-style: double;
  padding: 0.5em;
}




@media (max-width: 520px) {
  .list-item-text {
    font-size: 24px;
  }
}

/* xl */
@media (max-width: 470px) {
  .list-item-text {
    font-size: 18px;
  }
  .list-item-image {
    max-width: 35px;
  }
  .status-text-right {
    font-size: 15px;
  }
}

/* lg */
@media (max-width: 360px) {
  .list-item-text {
    font-size: 16px;
  }
  .list-item-image {
    max-width: 30px;
  }
  .status-text-right {
    font-size: 13px;
  }
}
