.container-util-wide {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 750px) {
  .container-util-wide {
    nav .dropbtn {
      font-size: 18px !important;
    }
  }
}

@media (max-width: 605px) {
  .container-util-wide {
    nav .dropbtn {
      font-size: 16px !important;
    }
  }
}

/* xs */
@media (max-width: 575px) {
  .container-util-wide {
    #nav-bar {
      width: 90%;
      margin: 0 auto !important;
      /* font-size: 29px; */
    }
    nav .dropbtn {
      font-size: 20px !important;
    }
    nav {
      font-size: 28px !important;
    }
    .normal-icon {
      display: none;
    }
    .login-group {
      display: none;
    }
    .profile-image {
      display: none;
    }
    li {
      text-align: center;
    }
    li .dropdown {
      
      width:fit-content !important;
    }
    li.mobile-view-only > a:nth-child(1) {
      color: red;
      padding-top: 6px;
      padding-bottom: 6px;
      .current {
        margin-top: 0px;
      }
      position: absolute; /* Position the first list item absolutely */
      right: 80px; /* Position it to the right */
      top: 83px;
    }
    #nav-bar > li:nth-child(2) {
      margin-top: -5px;
    }
    #nav-bar > li:nth-child(2) > div:nth-child(1) {
      margin-top: 0px;
    }

    .logout2 {
      cursor: pointer;
      font-size: 18px;
      justify-content: end !important;
      #loginLink {
        font-size: 18px !important;
      }
    }
    #nav-bar {
      margin-top: 10px;
      padding-top: 1px;
      padding-bottom: 16px;
      padding-left: 8px;
      background-color: #5e5e5e;
    }
    nav #nav-bar {
      display: none;
    }
    nav .mobile-view-only {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .header-icon-mobile {
      padding-top: 0px;
      height: 60px;
    }
    nav .mobile-view-only span {
      vertical-align: middle;
    }
    .menue-icon {
      margin-right: 10px;
      background-color: transparent;
      border: none;
    }
    .menue-icon div {
      width: 30px;
      height: 5px;
      background-color: rgb(255, 255, 255);
      margin: 4px 0;
    }
    .dropbtn {
      font-size: 20px !important;
    }
    li .dropdown {
      width: 100%;
      .dropbtn {
        width: 100%;
      }
    }

    nav li {
      display: block;
      margin-block-start: 0.5em; /* Adjust margin for spacing as needed */
      .loginVarMain {
        display: none !important;
      }
    }
  }
}

@media (max-width: 450px) {
  .container-util-wide {
    nav {
      font-size: 20px !important;
    }
    nav .dropbtn {
      font-size: 18px !important;
    }
    .logout2 {
      font-size: 16px;
      #loginLink {
        font-size: 16px !important;
      }
    }
    .header-icon-mobile {
      padding-top: 0px;
      height: 50px;
    }
    .menue-icon div {
      width: 15px;
      height: 3px;
      margin: 2px 0;
    }
    .dropbtn {
      font-size: 16px !important;
    }
    li.mobile-view-only > a:nth-child(1) {
      top: 73px;
      right:60px;
    }
  }
}
@media (max-width: 420px) {
  .container-util-wide {
    nav {
      font-size: 17px !important;
    }
  }
  .content {
    margin-top: 75px;
  }
}
@media (max-width: 368px) {
  .container-util-wide {
    nav {
      font-size: 15px !important;
    }
    .logout2 {
      font-size: 13px;
      #loginLink {
        font-size: 13px !important;
      }
    }
    nav .dropbtn {
      font-size: 13px !important;
    }li.mobile-view-only > a:nth-child(1) {
      top: 76px;
      right:55px;
    }
  }
}
