
.container-util {
    max-width: 1836px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    /* border: 1px solid red; */
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container-util {
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container-util {
      /* max-width: 1024px; */
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container-util {
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container-util {
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container-util {
      .text h1 {
        font-size: 42px;
      }
      .text p {
        font-size: 20px;
      }
    }
  }
  
  /* xs */
  @media (max-width: 544px) {
    .container-util {
      .text h1 {
        font-size: 36px;
      }
      .text p {
        font-size: 18px;
      }
    }
  }

  @media (max-width: 472px) {
    .container-util {
      .text h1 {
        font-size: 27px;
      }
      .text p {
        font-size: 14px;
      }
    }
  }